a {
    text-decoration: none;
    color: rgb(23, 167, 76);
    font-size: inherit;
    }

ul {
    list-style-type: "> ";
}

.green {
    color:rgb(25, 143, 69);
}

.bordered{
    border: solid 3px;
    border-color: white;
    padding: 5px;
}

.dont_touch {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -webkit-user-drag: none;
    }

.all{
    display: flex;
    flex-direction: row;
    background-color: black;
    font-family: 'Flexi IBM VGA False (437)', sans-serif;
    color: azure;
}

.spacing_bar{
    flex-grow: 10;
}

.content_all{
    flex-grow: 80;
    max-width: 850px;
}

.title_box{
    /* height: 100px; */
    display: flex;
    border: solid 3px;
    border-color: white;
    margin-top: 50px;
    flex-direction: row;
    height: 70px;
}

.title_x{
    background-color: white;
    width: 3px;
    height: 50px;
    /* margin-left: 50%; */
    /* margin-top: 50%; */
}

.main_text_box{
    border: solid 3px;
    border-color: white;
    border-top: none;
    padding-top: 5px;
    padding-left: 3%;
    padding-right: 3%;
}

.img_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}.img_box > img{
    min-width: 315px;
}
@media (max-width: 750px) {
    .img_box > span{
        padding-left: 25px;
    }
}

.note_text{
    /* padding-left: 5%;
    padding-right: 5%; */
    text-indent: 40px;
    color: rgb(163, 163, 163);
}

input[type=text], select {
    width: 90%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ffffff;
    background-color: rgb(16, 45, 25);
    color: #ffffff;
    border-radius: 0px;
    box-sizing: border-box;
    font-family: 'Flexi IBM VGA False (437)', sans-serif;
    font-size: 125% ;
    letter-spacing: 5px;
  }

input[type=button], select {
    border: 3px solid #ffffff;
    border-radius: 0px;
    background-color: black;
    color: #ffffff;
    font-family: 'Flexi IBM VGA False (437)', sans-serif;
    font-size: 125%;
}
input[type=button]:hover {
    background-color: rgb(4, 31, 7);
    border: 4px solid #ffffff;
}

.form_box {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.form_item_box {
    height: fit-content;
    margin-bottom: 0px;
}
.form_out_box {
    height: fit-content;
    width: fit-content;
    font-size: 125%;
    margin-top: 20px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.highlight {
    color: red;
}